<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym StopWatch</title>
    <link rel="icon" type="image/png" href="../icons/icon-512.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="/js/excercises-page.js"></script>
    <script src="/js/Excercise.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    <style>
        .fundo1 {
            background-color: #131517;
            box-shadow: #101010 5px 5px 10px;
        }
    </style>
</head>

<body data-bs-theme="dark">

    <div class="container-fluid">
        <div class="fixed-top">
            <div class="col-12 mt-2 d-flex justify-content-between ">
                <a class="btn" href="../index.html">Gym Stopwatch</a>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear-fill"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="d-flex justify-content-between align-items-center px-2">
                            <button class="btn w-50" onclick="changeFontSize('-')">
                                Font-
                            </button>
                            <button class="btn w-50" onclick="changeFontSize('+')">
                                Font+
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="mb-0">
            <div id="links" class="d-flex justify-content-between">
                <a class="btn border-deactive" href="./index.html">Home</a>
                <a class="btn border-active" href="../templates/excercises.html">Excercises history</a>
                <a class="btn border-deactive" href="../templates/data.html">Data</a>
            </div>
        </div>

        <div style="height: 15vh"></div>

        <!-- body -->
        <div id="excercises"></div>
    </div>
</body>

<script>
    Excercise.loadDataBaseExcercises()
    loadExcercises()
</script>

</html>